.main {
  width: 75%; }

.flex {
  display: flex; }

.container-lg {
  margin-left: 0; }

.a {
  color: #3d7e9a; }

.markdown .language-jass .hljs-keyword {
  color: #ab6ca4; }

.markdown .language-jass .hljs-type {
  color: #5c864e; }

.search-bar {
  border-bottom: 1px solid #eeebee;
  display: flex;
  align-items: center; }
  .search-bar label {
    padding: 21px 0 21px 16px;
    position: absolute;
    vertical-align: middle; }
  .search-bar input {
    border: none;
    padding: 16px 0 16px 40px;
    font-size: 100%;
    outline: none;
    line-height: 28px;
    flex-grow: 1; }
  .search-bar a {
    padding: 16px; }

.search-results {
  position: absolute;
  max-height: calc(90vh - 61px);
  overflow-y: scroll;
  width: 600px;
  top: 61px;
  background-color: white;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 0px 8px; }
  .search-results a {
    display: block;
    padding: 3px 0;
    color: inherit; }
    .search-results a.first {
      padding-top: 6px; }
    .search-results a.last {
      padding-bottom: 6px; }
  .search-results .title {
    font-size: 20px;
    line-height: 20px; }
  .search-results .path {
    opacity: 0.75; }

.side-bar {
  padding: 0 16px;
  margin-left: auto; }
  .side-bar header {
    margin-left: auto;
    padding: 16px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeebee; }
  .side-bar > ul {
    padding: 12px 0; }

.edit-on-github {
  font-size: 12px;
  border-bottom: 1px solid #eeebee; }

.nav ul, .nav {
  padding-left: 8px; }

.nav li {
  list-style: none;
  font-family: 'Courier New', Courier, monospace; }

.nav a {
  display: block;
  padding: 2px 0;
  word-break: break-all; }
