.app {
  display: flex; }

.main {
  width: 100%;
  padding: 0 16px;
  overflow: auto; }

.a {
  color: #3d7e9a; }

.markdown {
  --green: #5c864e;
  --pink: #ab6ca4;
  --blue: #6c83b6;
  --orange: #9e6a34; }
  .markdown h2 {
    margin-top: 16px; }
  .markdown dl:first-child {
    margin-top: 0; }
  .markdown dd {
    margin-left: 16px;
    margin-bottom: 8px; }
  .markdown pre {
    overflow: auto; }
  .markdown .language-jass .hljs-keyword, .markdown .language-fdf .hljs-keyword {
    color: var(--pink); }
  .markdown .language-jass .hljs-number, .markdown .language-fdf .hljs-number {
    color: var(--green); }
  .markdown .language-jass .hljs-string, .markdown .language-fdf .hljs-string {
    color: var(--green); }
  .markdown .language-jass .hljs-type {
    color: var(--green); }
  .markdown .language-fdf .hljs-frametype {
    color: var(--blue); }
  .markdown .language-fdf .hljs-action {
    color: var(--orange); }

@media (min-width: 576px) {
  .main {
    width: 75%;
    padding: 0 16px 0 0; } }

.breadcrumbs {
  margin-top: 8px;
  font-size: 12px; }

.child-pages {
  margin-top: 16px;
  border-top: 1px solid #eeebee;
  padding-top: 16px; }
  .child-pages ul {
    margin-left: 16px; }
    .child-pages ul.long {
      column-width: 250px; }

.search-bar {
  border-bottom: 1px solid #eeebee;
  display: flex;
  align-items: center;
  position: relative; }
  .search-bar label {
    padding: 21px 0 21px 16px;
    position: absolute;
    vertical-align: middle; }
  .search-bar input {
    border: none;
    padding: 16px 0 16px 40px;
    font-size: 100%;
    outline: none;
    line-height: 28px;
    flex-grow: 1; }
  .search-bar a {
    padding: 16px; }

.search-results {
  position: absolute;
  max-height: calc(90vh - 61px);
  overflow-y: scroll;
  width: 600px;
  max-width: 100%;
  top: 61px;
  background-color: white;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 0px 8px; }
  .search-results a {
    display: block;
    padding: 3px 0;
    color: inherit; }
    .search-results a.first {
      padding-top: 6px; }
    .search-results a.last {
      padding-bottom: 6px; }
  .search-results .title {
    font-size: 20px;
    line-height: 20px; }
  .search-results .path {
    opacity: 0.75; }

.edit-on-github {
  display: block;
  margin-top: 16px;
  border-top: 1px solid #eeebee;
  padding-top: 16px; }
  .edit-on-github a {
    font-size: 12px; }

.side-bar {
  padding: 0 16px;
  margin-left: auto;
  display: none; }
  .side-bar header {
    margin-left: auto;
    padding: 16px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeebee; }
  .side-bar > ul {
    padding: 12px 0; }

@media (min-width: 576px) {
  .side-bar {
    display: block; } }

.nav {
  max-height: calc(100vh - 61px);
  overflow-y: auto; }
  .nav ul, .nav {
    padding-left: 8px; }
  .nav li {
    list-style: none; }
  .nav a {
    display: block;
    padding: 2px 0;
    word-break: break-all; }
