.search-bar {
    border-bottom: 1px solid #eeebee;
    display: flex;
    align-items: center;
    position: relative;

    label {
        padding: 21px 0 21px 16px;
        // line-height: 28px;
        position: absolute;
        vertical-align: middle;
    }

    input {
        border: none;
        padding: 16px 0 16px 40px;
        font-size: 100%;
        outline: none;
        line-height: 28px;
        flex-grow: 1;
    }
    
    a {
        padding: 16px;
    }
}

.search-results {
    position: absolute;
    max-height: calc(90vh - 61px);
    overflow-y: scroll;
    width: 600px;
    max-width: 100%;
    top: 61px;
    background-color: white;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.3), 5px 5px 5px rgba(0,0,0,0.3);
    padding: 0px 8px;

    a {
        display: block;
        padding: 3px 0;
        &.first { padding-top: 6px; }
        &.last { padding-bottom: 6px; }

        color: inherit;
    }

    .title {
        font-size: 20px;
        line-height: 20px;
    }

    .path {
        opacity: 0.75;
    }
}