.main {
    width: 75%;
}

.flex {
    display: flex;
}

.container-lg {
    margin-left: 0;
}

.a {
    color: #3d7e9a;
}

.markdown .language-jass {

    .hljs-keyword { color: #ab6ca4; }
    .hljs-type { color: #5c864e; }

}