.main {
    width: 75%;
}

.flex {
    display: flex;
}

.container-lg {
    margin-left: 0;
}

.a {
    color: #3d7e9a;
}

.markdown {
    h2 {
        margin-top: 16px;
    }
    
    dl:first-child {
        margin-top: 0;
    }

    dd {
        margin-left: 16px;
        margin-bottom: 8px;
    }

    .language-jass {
        .hljs-keyword { color: #ab6ca4; }
        .hljs-type { color: #5c864e; }
    }
}