.app {
    display: flex;
}

.main {
    width: 100%;
    padding: 0 16px;
    overflow: auto;
}

.a {
    color: #3d7e9a;
}

.markdown {
    h2 {
        margin-top: 16px;
    }
    
    dl:first-child {
        margin-top: 0;
    }

    dd {
        margin-left: 16px;
        margin-bottom: 8px;
    }

    pre {
        overflow: auto;
    }

    --green: #5c864e;
    --pink: #ab6ca4;
    --blue: #6c83b6;
    --orange: #9e6a34;

    .language-jass, .language-fdf {
        .hljs-keyword { color: var(--pink); }
        .hljs-number { color: var(--green); }
        .hljs-string { color:var(--green); }
    }

    .language-jass {
        .hljs-type { color: var(--green); }
    }
    
    .language-fdf {
        .hljs-frametype { color: var(--blue); }
        .hljs-action { color: var(--orange); }
    }
}

@media (min-width: 576px) {
    .main {
        width: 75%;
        padding: 0 16px 0 0;
    }
}